[DEFAULT]
ttl = 60
http = http://169.254.169.254/latest/meta-data/public-ipv4
zoneid = Z9643874QIJJ218DC9YU

[test1.domain.com]
enabled = true
use = http
zoneid = Z9643874QIJJ218DC9YU
sgroupid = sg-014865abe355fb579
sgruleid = sgr-023f1fe423f24268e

[test2.domain.com]
enabled = true
ttl = 120
; use the ip from test1.domain.com
use = test1.domain.com

